pkgbase = luma-bin
	pkgdesc = Visual Git-first IDE with a commit web, interactive rebase, and built-in editor
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/drainedgodw/Luma
	arch = x86_64
	license = MIT
	depends = expat
	depends = glib2
	depends = nss
	depends = nspr
	depends = cairo
	depends = dbus
	depends = libdrm
	depends = gdk-pixbuf2
	depends = gtk3
	depends = at-spi2-core
	depends = alsa-lib
	depends = libcups
	depends = libxcomposite
	depends = libxdamage
	depends = libxfixes
	depends = libxrandr
	depends = libxtst
	depends = pango
	depends = mesa
	depends = libxkbcommon
	depends = wayland
	provides = luma
	conflicts = luma
	conflicts = luma-git
	noextract = Luma-0.1.0.AppImage
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/drainedgodw/Luma/releases/download/v0.1.0/Luma-0.1.0.AppImage
	sha256sums_x86_64 = cc3b37a43022a38ee0d1cdc78b959f0ed9b35a32748c95fdbb9d777563e6640e

pkgname = luma-bin
